<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 class="heading">Backend Form</h1>
    <div class="container">
        <form method="post" action="/">

            <div class="nxt">
                <input class="ii" type="text" name="name" placeholder="Enter Your name">
            </div>
            <div class="nxt">
                <input class="ii" type="email" name="email" placeholder="Enter your email">

            </div>
            
            <div class="nxt">
                <button type="submit">Send Message</button>
            </div>
        </form>
    </div>
</body>

<script src="script.js"></script>
</html>